.selected {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-25)
    var(--unnamed-font-family-lexend-deca);
  letter-spacing: var(--unnamed-character-spacing-0-4);
  color: var(--black);
  text-align: left;
  font: normal normal normal 20px/25px Lexend Deca;
  letter-spacing: 0.4px;
  color: #000000;
  opacity: 1;
}
.unselected {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-25)
    var(--unnamed-font-family-lexend-deca);
  letter-spacing: var(--unnamed-character-spacing-0-4);
  color: var(--grey);
  text-align: left;
  font: normal normal normal 20px/25px Lexend Deca;
  letter-spacing: 0.4px;
  color: #9d9d9d;
  opacity: 1;
}
