$btnHeight: 1.85em;
$btnWidth: 10em;

.container > img {
  max-height: 60vh;
}
.innerImage {
  height: 5px;
  width: 5px;
  margin-top: 6px;
  margin-left: 10%;
}

.btn {
  height: $btnHeight;
  width: $btnWidth;
  border: 2px solid #000000;
  opacity: 1;
  text-align: center;
  font: normal normal 800 14px/18px Lexend Deca;
  display: -moz-box;
  letter-spacing: 0px;
  opacity: 1;
  text-align: center;
}
.btn:hover {
  background-color: black;
  color: white;
}

.btnGoBack {
  background-color: white;
}

.header {
  padding: 1em;
  display: flex;
  margin: auto;
  justify-content: center;
  display: flex;
  .btnAddToAlbum {
    color: #000000;
    background: white;
    display: flex;
  }
  .btnAddToAlbum:hover {
    background-color: black;
    color: white;
    svg path {
      fill: white;
    }
  }

  .btnDownload {
    font: normal normal 800 14px/18px Lexend Deca;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #000000 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    opacity: 1;
    margin-left: 1em;
    height: $btnHeight;
    width: $btnWidth;
  }
  .btnDownload:hover {
    background-color: white;
    color: black;
  }
  .hParagraph {
    color: var(--black);
    text-align: center;
    font: normal normal bold 14px/18px Lexend Deca;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
}

.username {
  color: var(--black);
  text-align: center;
  font: normal normal normal 32px/40px Lexend Deca;
  letter-spacing: 0.64px;
  color: #000000;
  opacity: 1;
}
.createdDate {
  color: var(--grey);
  text-align: center;
  font: normal normal normal 14px/18px Lexend Deca;
  letter-spacing: 0px;
  color: #9d9d9d;
  opacity: 1;
}
