.container {
    background: var(--white) 0% 0% no-repeat padding-box;
    border: 2px solid var(--black);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    opacity: 1;
    min-width: 2em;
    max-width: 20em;
    color: var(--grey);
    font: normal normal normal 16px/20px Lexend Deca;
    letter-spacing: 0.32px;
    color: #9d9d9d;
    opacity: 1;
    text-align: center;
}
.label {
    color: var(--black);
    text-align: center;
    font: normal normal 800 14px/18px Lexend Deca;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

.formError {
    color: red;
    border: 2px solid red;
}

.inputField {
    text-align: left;
    font: normal normal normal 16px/20px Lexend Deca;
    letter-spacing: 0.32px;
    color: #9d9d9d !important;
    background: white 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    opacity: 1;
    margin: 0.5em;
    height: 3em;
    text-align: left;
    padding: 1em;
    width: 19em;
}

.loginForm {
    min-height: 60%;
    margin-top: 5%;
}
.inputWrapper {
    margin: 1%;
    min-height: 5em;
}
