.footer {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}
.container {
  img {
    width: 100%;
  }
}
